$bg-color: #232f4b;
$shadow-light: rgba(255, 255, 255, 0.2);
$shadow-dark: rgba(0, 0, 0, 0.5);
$button-color: linear-gradient(
  90deg,
  rgba(238, 114, 196, 1) 0%,
  rgba(237, 115, 198, 1) 59%,
  rgba(252, 103, 149, 1) 100%
);
$label-font-color: #909fc5;
$active-font-color: #e6e5e3;
